.page-show {

  .form-group {
    margin-bottom: 1.5rem;

     .form-control-label {
      font-weight: 500;
    }

    .form-control-plaintext {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
