.page-header {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.page-header .title {
  color: #000000;
  font-size: 2rem;
  font-weight: 700;
}

.page-header .breadcumb ul {
  list-style-type: none;
  -webkit-padding-start: unset;
  margin-bottom: unset;
}

.page-header .breadcumb ul li {
  display: inline-block;
}

.page-header .breadcumb ul li a {
  color: #787868;
  font-size: 1rem;
}

.page-header .breadcumb ul li a:hover {
  color: #000000;
  text-decoration: unset;
}

.page-header .breadcumb ul li::after {
  content: "-";
  color: #787868;
  padding-left: 0.75rem;
  padding-right: 0.5rem;
}

.page-header .breadcumb ul li:last-child::after {
  content: unset;
}

.page-content {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.page-content .form-group {
  margin-bottom: 1.25rem;
}

.page-content .form-group label {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.page-content .form-group .form-control {
  padding: 0.5rem 0.75rem;
}

.page-content .form-check {
  padding-left: 1.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.page-content .form-check.member {
  padding-left: 3.5rem;
}

.page-content .form-check .form-check-input {
  margin-top: 0.25rem;
  margin-left: -1.75rem;
}

.chart-container {
  position: relative;
  height: 20rem;
}

.projects,
.teams {
  max-height: 20rem;
  overflow-y: auto;
}

.members {
  position: relative;
  margin-bottom: 2rem;
}

.members:last-child {
  margin-bottom: unset;
}

.members::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0.5rem;
  bottom: 1.25rem;
  border-left: 0.0625rem dotted #9dbdd6;
  z-index: 1;
}

.members .form-check {
  position: relative;
}

.members .form-check::before {
  content: '';
  display: block;
  position: absolute;
  top: 1.125rem;
  left: 0.5rem;
  width: 0.75rem;
  border-top: 0.0625rem dotted #9dbdd6;
  z-index: 1;
}

