.block-table-tasks {

  .block-header {
    grid-template-columns: 25% 25% 25% 12.5% 12.5%;
  }

  .block-content {
    max-height: 30rem;
    overflow-y: auto;
    
    .block-record {
      grid-template-columns: 25% 25% 25% 12.5% 12.5%;
    }
  }
}
