.block-form {

  .form-control {
    height: auto;
  }

  .form-group {
    margin-bottom: 1.25rem;

    label {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    .form-control {
      color: #333333;
      border-color: #d0d0d0;
      border-radius: 0.125rem;
      padding: 0.625rem 1rem;

      &:focus {
        box-shadow: unset;
      }
    }

    .error-message {
      color: #cb2431;
      font-size: 0.75rem;
      font-weight: 500;
      max-height: 0;
      transition: all 0.25s ease-in;
    }

    &.error {

      label {
        color: #cb2431;
      }

      .form-control {
        border-color: #cb2431;
      }

      .error-message {
        max-height: unset;
      }
    }
  }

  .form-select {
    margin-bottom: 1rem;

    .selectize-control {

      .selectize-input {
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.125rem;
        padding: 0.625rem 1rem;
      }
    }
  }

  .form-color {

    input {
      height: 2.875rem;
    }
  }

  .form-check {
    padding-left: 1.5rem;
    margin-bottom: 1.25rem;

    .form-check-input {
      margin-left: -1.5rem;
      cursor: pointer;
    }

    .form-check-label {
      font-size: 1;
      font-weight: 400;
      margin-bottom: unset;
      cursor: pointer;
    }
  }

  .form-file {
    margin-bottom: 2rem;

    .avatar {
      position: relative;
      width: 6rem;
      height: 6rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 0.125rem dashed #63b9fd;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer;

      &::after {
        content: '+';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #63b9fd;
        font-size: 3rem;
      }

      &:hover {
        border-color: darken(#63b9fd, 10%);

        &::after {
          color: darken(#63b9fd, 10%);
        }
      }
    }
  }

  button {
    border-radius: 0.125rem;
    padding: 0.625rem 1rem;
  }
}
