.layout-fullscreen {

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;

    .page {
      width: 27.5rem;
      background-color: #ffffff;
      border: 1px solid rgba(0, 0, 0, .125);
      border-radius: 0.125rem;
      padding: 2rem;

      .btn-close {
        position: fixed;
        top: 2rem;
        right: 2rem;
        font-size: 1.25rem;
        padding: 0.75rem 1.25rem;
        transition: all 0.35s ease-in;
        z-index: 1080;

        @media screen and (max-width: 600px) {
          top: unset;
          bottom: 1rem;
        }
      }

      .page-header {
        margin-bottom: 2.25rem;

        h4 {
          color: #000000;
          font-size: 1.5rem;
          font-weight: 500;
          margin-bottom: 0.25rem;
        }
      }
    }
  }
}
