.page-list {

  .page-header {
    margin-bottom: 2rem;

    .title {
      color: #000000;
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 0.25rem;
    }

    .block-breadcrumb {
      margin-bottom: 2rem;
    }

    .redirect-to-create {
      width: 100%;
      border-radius: unset;
      padding-top: 0.875rem;
      padding-bottom: 0.75rem;
    }
  }

  .page-content {

  }
}

.page-project-list, .page-week-list, .page-member-list {

  .page-content {

    .block-table {

      .block-header {
        grid-template-columns: 30% calc(70% - 20rem) 7.5rem 12.5rem;
      }

      .block-content {

        .block-record {
          grid-template-columns: 30% calc(70% - 20rem) 7.5rem 12.5rem;
        }
      }
    }
  }
}

.page-team-list {

  .page-header {
    margin-bottom: unset;
  }

  .page-content {

    .block-table {

      .block-header {
        grid-template-columns: 30% 25% 45%;
      }

      .block-content {

        .block-record {
          grid-template-columns: 30% 25% 45%;
        }
      }
    }
  }
}
