.page-home {

  section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .section-introduce {

    .section-content {

      .col-xl-6 {
        align-self: center;
      }

      .section-title {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1rem;
        margin-bottom: unset;
      }
    }

    .video-container {
      clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 25% 50%, 0% 0%);
      overflow: hidden;

      video {
        width: 100%;
        height: auto;
      }
    }
  }

  .section-slider {

    .section-header {
      text-align: center;
      margin-bottom: 2rem;

      .section-title {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1rem;
        margin-bottom: unset;
      }
    }

    .section-content {
      position: relative;
      min-height: 50vh;

      .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all 0.25s ease-in;

        &:nth-child(1) {
          background-image: url('/images/pages/home/section-slider/im-01.jpg');
        }

        &:nth-child(2) {
          background-image: url('/images/pages/home/section-slider/im-02.jpg');
        }

        &:nth-child(3) {
          background-image: url('/images/pages/home/section-slider/im-03.jpg');
        }

        &:nth-child(4) {
          background-image: url('/images/pages/home/section-slider/im-04.jpg');
        }

        &:nth-child(even).hide {
          mask: url('/images/pages/home/section-slider/transition-01.png');
          mask-size: 2300% 100%;
          animation: mask-transition 1s steps(22) forwards;
        }

        &:nth-child(odd).hide {
          mask: url('/images/pages/home/section-slider/transition-02.png');
          mask-size: 7100% 100%;
          animation: mask-transition 1s steps(70) forwards;
        }

        @keyframes mask-transition {
          from {
            mask-position: 0% 0;
          }
          to {
            mask-position: 100% 0;
          }
        }
      }
    }
  }
}
