header {
  background-color: #000000;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  margin-bottom: 1.25rem;

  .home {
    color: #ffffff;
    font-size: 1.75rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
  }
  .user {
    text-align: right;

    .name {
      color: #ffffff;
      font-size: 1rem;
      text-transform: uppercase;
    }
    .action {
      color: #aeaeae;
      font-size: 0.875rem;

    }
  }
}

main {
  min-height: calc(100vh - 12rem);
}

footer {
  background-color: #fafafa;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  margin-top: 1.25rem;

  .copyright {
    color: #aeaeae;
  }
}
